<div class="text-center py-3 mb-4 border-bottom">
  <h2 class="text-info">Fila de unidades</h2>
</div>

<div class="table-responsive table-scroll">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class="text-center table-primary">
        <th class="taxiNumber-col">Unidad</th>
        <th class="driver-col">Conductor</th>
        <th class="select-col">Posición</th>
        <th class="min-col">Hora de llegada</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      @for (taxi of taxis; track $index) {
      <tr class="text-center" cdkDrag>
        <td class="text-table taxiNumber">
          <p [routerLink]="['/taxi-info', taxi._id]">{{ taxi.taxiNumber }}</p>
        </td>
        <td class="text-primary text-table">{{ taxi.driverID }}</td>
        <td class="text-primary text-table">
          <app-select-position
            [initialPosition]="taxi.position"
            [driverID]="taxi.driverID"
          ></app-select-position>
        </td>
        <td class="text-primary text-table">
          {{ taxi.arrivalTime | date : "shortTime" }}
        </td>
        <td>
          <app-assign-folio
            [taxiNumberSignal]="taxi.taxiNumber"
            (updateState)="handleUpdateState($event)"
          ></app-assign-folio>
        </td>

        <!-- Plantilla personalizada para la vista previa -->
        <ng-template cdkDragPreview>
          <!-- Reproducimos la estructura de la fila en una tabla -->
          <table class="preview-table">
            <tr class="text-center preview-row">
              <td class="text-table taxiNumber">
                {{ taxi.taxiNumber }}
              </td>
              <td class="text-primary text-table">
                {{ taxi.driverID }}
              </td>
              <td class="text-primary text-table">
                {{ taxi.position }}
              </td>
              <td class="text-primary text-table">
                {{ taxi.arrivalTime | date : "shortTime" }}
              </td>
              <td class="text-table">(Arrastrando)</td>
            </tr>
          </table>
        </ng-template>

        <!-- Plantilla para placeholder (espacio ocupado) -->
        <ng-template cdkDragPlaceholder>
          <tr class="drag-placeholder-row">
            <td colspan="5"></td>
          </tr>
        </ng-template>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Botón para agregar taxi -->
<div class="text-center" id="addTaxi">
  <app-new-taxi (updateStateSignal)="handleUpdateState($event)"></app-new-taxi>
</div>
