/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
*::selection {
  background-color: rgb(155, 232, 95);
  color:#000
}


.cdk-overlay-container{
    z-index: 9999 ;

}






.mat-app-background {
    color: #fff;
    background: #080123;

}